.clock-page {
  position: relative;
  margin: 0;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
}
.clock-page::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../assets/dino_bg.jpg);
  background-size: 200px;
  background-position: center;
  filter: brightness(50%);
  z-index: -1;
}