/* Buttons */
button {
  flex: 1;
  font-size: 1rem;
  padding: 5px 2px;
  margin: 0 2px;
  background: #1c1413;
  color: white;
  border:rgb(from color r g b);
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
  font-weight: bold;
}

button:hover {
  background: #887e7d;
}